.bodySection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%

}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-bottom: solid 5px #116466;

  ul {
    padding-left: 20px;
  }

  h1 {
    padding-left: 20px;
  }
}

.bodySection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a:hover {
  cursor: pointer
}

@media (min-width: 800px) {

  .bodySection {
    display: grid;
    width: 80%;
    grid-template-columns: .5fr 4.5fr;
  }

  header {
    border-bottom: none;
    border-right: solid 3px #116466;
  }
  
}
