.links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  h1 {
    margin-bottom: 10px;
    color: #D1E8E2;
    font-size: 17px;
    margin-left: 5px;

    @media (min-width: 630px) {
      font-size: 20px;
    }
  }
}

a {
  color: #ffcb94;
  text-decoration: none;
  margin-left: 5px;
  margin-right: 3px;
  font-family: 'Slabo 27px', serif;
  font-size: 17px;

  &:hover {
    color: #D1E8E2
  }

}
    @media (min-width: 630px) {
 
      a {
        font-size: 20px;
      }
    }