.newHome {

  display: flex;
  flex-direction: row;
  justify-content: center;


  h1 {
    font-size: 50px;
    margin-bottom: 5px;
  }

  h2 {
    color: #d9b08c
  }

  img {
    width: 200px;
    border-radius: 100%;
    margin-right: 20px;
  }

  .words {
    width: 400px;
  }
}