.project {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: center;
  width: 100vw;

  h1 {
    margin-bottom: 10px;
    color: #D1E8E2;
    font-size: 17px;
    margin-left: 5px;
  }

  a {
    font-size: 17px;
    margin-left: 5px;
  }
}
