.tech {
  h1 {
    margin-bottom: 5px;
    font-size: 17px;
    margin-right: 10px;
  }
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 5px;

  .project1, .project2, .project3 {
    display: flex;
    flex-direction: row;
    h1 {
      margin-top: 5px;
      margin-bottom: 5px;
      font-size: 15px;
    }
  }

  .heading {
    color: #D1E8E2
  }

  .techNames {
    display: flex;
    flex-direction: column;

  }

  @media (min-width: 630px) {
    h1 {
      font-size: 20px;
    }


    .project {

      h1 {
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 20px;
        margin-right: 20px
      }
    }
  }

  @media (min-width: 900px) {
    .techNames {
      flex-direction: row;
    }
  }
}