html {
  background-color: #116466;
  color: #ffcb94;
  font-family: "Slabo 27px", serif;
  width: 100%;
}

.app {
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inner {
  max-width: 800px;
}

