dl {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 75%;

  dt {
    text-decoration: underline;
    color: #116466;
    font-size: 20px;
    margin-bottom: 5px;
  }

  dd {
    font-size: 18px;
    padding-left: 10px;
    margin: 0px;
  }

}

.other {
  margin-top: 5px;
}
