.experienceName {

  h2 {
    text-align: center;
  }

  dl {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin: 0px;
  
    dt {
      text-decoration: underline;
      color: #116466;
      font-size: 20px;
      margin-bottom: 5px;
    }
  
    dd {
      font-size: 18px;
      padding-left: 10px;
      margin: 0px;
    }  
  }

  
  .other {
    margin-top: 5px;
  }
  
  @media (min-width: 800px) {
    dl {
      flex-direction: column;
    }

    .tech, .bottomTool {
      margin-bottom: 20px;
    }

    .tech {
      margin-top: 20px;
    }

    h2 {
      display: none;
    }
  }
  
}

