.links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.linkList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.findMe {
  margin-bottom: 20px;
  font-size: 30px;
  margin-left: 5px;
}

.contactLinks {
  margin-left: 5px;
  margin-right: 3px;
  margin-bottom: 5px;
  font-family: "Slabo 27px", serif;
  font-size: 17px;
}

.constactLinks:hover {
  color: rosybrown
}

@media (min-width: 960px) {
  .contactLinks {
    font-size: 22px;
  }
}