.newHome {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}

.name {
  font-size: 30px;
  margin-bottom: 8px;
  margin-top: 16px;

  width: 300px;
}

.whoAmI {
  color: #d9b08c;
  font-size: 20px;
}

.illustration {
  width: 200px;
  border-radius: 100%;
  opacity: 50%;
  margin: auto;
  margin-top: 15px;
}

@media (min-width: 630px) {
  .newHome {
    flex-direction: row;
    align-items: center;
    height: 100%;
    justify-content: flex-start;
    width: 100%;
    margin-top: 40px;
  }

  .illustration {
    margin-right: 10px;
    margin-left: 10px;
  }

  .name {
    font-size: 50px;
    width: 400px;
  }

  .whoAmI {
    font-size: 35px;
    width: 450px;
  }
}
