.project {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: center;
  width: 325px;
}

.heading {
  color: #f0f7f5;
  font-size: 30px;
}

.textAndLink {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-bottom: 16px;
}

.projectLink {
  color: #ffcb94;
}

.header {
  color: #f0f7f5;
  font-size: 17px;
  margin: 0;
  margin-right: 8px;
}

@media (min-width: 960px) {
  .header, .projectLink {
    font-size: 22px;
  }
}
