.techLine {
  font-size: 17px;

  list-style-type: none;
}

.techP {
  margin-top: 8px;
  margin-bottom: 8px;
  margin-right: 4px
}

.tech {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.heading {
  font-size: 30px;
}

.techNames {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 0;
  margin-top: 0;
}

@media (min-width: 960px) {
  .techLine {
    font-size: 22px;
  }
}